body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .dashboard-layout {
    display: flex;
    gap: 10%;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    padding-bottom: 5px;
  }

  .contactListItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: aquamarine;
    gap: 20px;
  }